fastapi==0.115.0
uvicorn==0.30.6
Pillow==10.4.0
requests==2.32.3
pydantic==2.9.2
pydantic_settings==2.7.1
pydantic-core==2.23.4
streamlit==1.41.1
instructor==1.7.2
langchain==0.3.14
langchain_community==0.3.14
bitsandbytes==0.42.0
llama-index==0.12.37
llama-index-core
llama-index-readers-file
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-llms-vllm==0.5.1
llama-index-tools-mcp==0.2.1
praisonaiagents==0.0.66
praisonaiagents[llm]
openai==1.82.1
langgraph
langchain-mcp-adapters
fastmcp
mcp